In [4]:
# Importamos las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [5]:
# Esta linea permite que los graficos sean renderizados directamente en nuestro Notebook
## Carguemos en un pandas dataframe nuestra base de datos
%matplotlib inline

Fuente: Portal de Datos Abiertos www.datos.gov.co”, y mencionar la fecha de la última actualización 27 de junio de 2020

In [6]:
## Leer un Csv
#pd.read_csv es el metodo que nos permite importar los datos desde un CSV y cargarlo en un **DataFrame**, que es la estructura de base de Pandas

In [7]:
DF_COVID = pd.read_csv('./Casos_positivos_de_COVID-19_en_Colombia.csv',encoding='utf-8')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10,14,16,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Tipo de dato

In [8]:
type(DF_COVID)

pandas.core.frame.DataFrame

Cuantas filas y columnas tiene nuestro dataframe

In [9]:
DF_COVID.shape

(73572, 21)

Visualizemos las columnas

In [10]:
DF_COVID.columns

Index(['ID de caso', 'Fecha de notificación', 'Código DIVIPOLA',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia', 'FIS',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'fecha reporte web', 'Tipo recuperación', 'Codigo departamento',
       'Codigo pais', 'Pertenencia etnica', 'Nombre grupo etnico'],
      dtype='object')

Visualiza las primeas cinco filas del DF

In [17]:
DF_COVID.head()

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,2020-02-27T00:00:00.000,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,PCR,11,380.0,Otro,NaN
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,...,2020-03-04T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,PCR,76,724.0,Otro,NaN
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,...,2020-02-29T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,PCR,5,724.0,Otro,NaN
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,...,2020-03-06T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000,PCR,5,NaN,Otro,NaN
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,...,2020-03-08T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000,PCR,5,NaN,Otro,NaN

Convertir a Minúsculas

In [11]:
DF_COVID['Ciudad de ubicación'].str.lower()

0                bogotá d.c.
1        guadalajara de buga
2                   medellín
3                   medellín
4                   medellín
                ...
73567                soledad
73568                soledad
73569                soledad
73570           barranquilla
73571           barranquilla
Name: Ciudad de ubicación, Length: 73572, dtype: object

Reemplazar un cadena por otra

In [12]:
DF_COVID['fecha reporte web'] = DF_COVID['fecha reporte web'].replace("T00:00:00.000", "", regex=True)

In [13]:
print (DF_COVID.dtypes)

ID de caso                    int64
Fecha de notificación        object
Código DIVIPOLA               int64
Ciudad de ubicación          object
Departamento o Distrito      object
atención                     object
Edad                          int64
Sexo                         object
Tipo                         object
Estado                       object
País de procedencia          object
FIS                          object
Fecha de muerte              object
Fecha diagnostico            object
Fecha recuperado             object
fecha reporte web            object
Tipo recuperación            object
Codigo departamento           int64
Codigo pais                 float64
Pertenencia etnica           object
Nombre grupo etnico          object
dtype: object

Convertir Date

In [14]:
from datetime import date

In [15]:
DF_COVID['fecha reporte web'] = pd.to_datetime(DF_COVID['fecha reporte web'])

In [16]:
DF_COVID.head()

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,2020-02-27T00:00:00.000,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06,PCR,11,380.0,Otro,NaN
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,...,2020-03-04T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09,PCR,76,724.0,Otro,NaN
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,...,2020-02-29T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09,PCR,5,724.0,Otro,NaN
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,...,2020-03-06T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11,PCR,5,NaN,Otro,NaN
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,...,2020-03-08T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11,PCR,5,NaN,Otro,NaN

Tamaño del DF

In [17]:
DF_COVID.shape

(73572, 21)

In [ ]:
Leer un archivo csv

In [18]:
municipioscolombia = pd.read_csv('./municipioscolombia.csv',encoding='utf-8')

In [19]:
municipioscolombia.head()

   05002 Abejorral  05  Antioquia       5.75  -75.4166667
0   5004  Abriaquí   5  Antioquia  6.6666667   -76.083333
1  50006   Acacías  50       Meta  3.9166667   -73.833333
2  27006    Acandí  27      Chocó  8.3333333   -77.166667
3  41006   Acevedo  41      Huila       1.75   -75.916667
4  13006      Achí  13    Bolívar       8.25   -74.500000

Para cambiar los nombres de las variables del DF , hacemos lo siguiente.

In [20]:
municipioscolombia.columns

Index(['05002', 'Abejorral', '05', 'Antioquia', '5.75', '-75.4166667'], dtype='object')

In [21]:
municipioscolombia.columns = ['Codigo', 'Nombre', 'Codigo_departamento', 'Nombre_departamento', 'Latitud', 'Longitud']

In [22]:
municipioscolombia.head()

,Codigo,Nombre,Codigo_departamento,Nombre_departamento,Latitud,Longitud
0,5004,Abriaquí,5,Antioquia,6.6666667,-76.083333
1,50006,Acacías,50,Meta,3.9166667,-73.833333
2,27006,Acandí,27,Chocó,8.3333333,-77.166667
3,41006,Acevedo,41,Huila,1.75,-75.916667
4,13006,Achí,13,Bolívar,8.25,-74.500000

In [23]:
municipioscolombia.shape

(1101, 6)

Creando una nueva  fila den DF

In [24]:
municipioscolombia.loc["1102"] = [47980,"Zona Bananera",47,"Magdalena","10.849993",-74.060849 ]

In [47]:
pd.concat([DF_COVID,municipioscolombia], axis=1)

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,Codigo,Nombre,Codigo_departamento,Nombre_departamento,Latitud,Longitud
0,1.0,2020-03-02T00:00:00.000,11001.0,Bogotá D.C.,Bogotá D.C.,Recuperado,19.0,F,Importado,Leve,...,11.0,380.0,Otro,NaN,5004.0,Abriaquí,5.0,Antioquia,6.6666667,-76.083333
1,2.0,2020-03-06T00:00:00.000,76111.0,Guadalajara de Buga,Valle del Cauca,Recuperado,34.0,M,Importado,Leve,...,76.0,724.0,Otro,NaN,50006.0,Acacías,50.0,Meta,3.9166667,-73.833333
2,3.0,2020-03-07T00:00:00.000,5001.0,Medellín,Antioquia,Recuperado,50.0,F,Importado,Leve,...,5.0,724.0,Otro,NaN,27006.0,Acandí,27.0,Chocó,8.3333333,-77.166667
3,4.0,2020-03-09T00:00:00.000,5001.0,Medellín,Antioquia,Recuperado,55.0,M,Relacionado,Leve,...,5.0,NaN,Otro,NaN,41006.0,Acevedo,41.0,Huila,1.75,-75.916667
4,5.0,2020-03-09T00:00:00.000,5001.0,Medellín,Antioquia,Recuperado,25.0,M,Relacionado,Leve,...,5.0,NaN,Otro,NaN,13006.0,Achí,13.0,Bolívar,8.25,-74.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73568,73609.0,2020-06-20T00:00:00.000,8758.0,Soledad,Atlántico,Casa,37.0,F,En estudio,Leve,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73569,73610.0,2020-06-20T00:00:00.000,8758.0,Soledad,Atlántico,Casa,53.0,M,En estudio,Leve,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73570,73611.0,2020-06-20T00:00:00.000,8001.0,Barranquilla,Barranquilla D.E.,Casa,28.0,F,En estudio,Leve,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73571,73612.0,2020-06-20T00:00:00.000,8001.0,Barranquilla,Barranquilla D.E.,Casa,24.0,M,En estudio,Leve,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,47980.0,Zona Bananera,47.0,Magdalena,10.849993,-74.060849

Unir dos DdataFrames

In [26]:
COVID19 = pd.merge(DF_COVID,municipioscolombia, left_on="Código DIVIPOLA", right_on="Codigo")

In [27]:
COVID19.head()

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,Codigo,Nombre,Codigo_departamento,Nombre_departamento,Latitud,Longitud
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,11,380.0,Otro,NaN,11001,Bogotá D.C.,25,Cundinamarca,4.6,-74.083333
1,8,2020-03-09T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,22,F,Importado,Leve,...,11,724.0,Otro,NaN,11001,Bogotá D.C.,25,Cundinamarca,4.6,-74.083333
2,9,2020-03-08T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,28,F,Importado,Leve,...,11,724.0,Otro,NaN,11001,Bogotá D.C.,25,Cundinamarca,4.6,-74.083333
3,10,2020-03-12T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,36,F,Importado,Leve,...,11,724.0,Otro,NaN,11001,Bogotá D.C.,25,Cundinamarca,4.6,-74.083333
4,11,2020-03-11T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,42,F,Importado,Leve,...,11,724.0,Otro,NaN,11001,Bogotá D.C.,25,Cundinamarca,4.6,-74.083333

In [28]:
COVID19.shape

(73433, 27)

Eliminar columnas

In [29]:
COVID19 = COVID19.drop(['Codigo', 'Nombre','Codigo_departamento','Nombre_departamento'], axis=1)

mostrar las columnas del DF

In [30]:
COVID19.columns

Index(['ID de caso', 'Fecha de notificación', 'Código DIVIPOLA',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia', 'FIS',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'fecha reporte web', 'Tipo recuperación', 'Codigo departamento',
       'Codigo pais', 'Pertenencia etnica', 'Nombre grupo etnico', 'Latitud',
       'Longitud'],
      dtype='object')

In [ ]:
agrupar y summarise

In [31]:
COVID19['COUNTER'] =1       #initially, set that counter to 1.
by_ubic_aten = COVID19.groupby(['Ciudad de ubicación','atención'])['COUNTER'].sum() #sum function
print(by_ubic_aten)

Ciudad de ubicación  atención
Acacías              Casa           9
                     Recuperado    14
Acevedo              Recuperado     2
Agrado               Recuperado     2
Agua de Dios         Casa           1
                                   ..
Zona Bananera        Casa           6
                     Fallecido      8
                     Hospital       6
                     Recuperado    16
Ábrego               Fallecido      1
Name: COUNTER, Length: 1338, dtype: int64

In [32]:
by_ubic_aten.head()

Ciudad de ubicación  atención
Acacías              Casa           9
                     Recuperado    14
Acevedo              Recuperado     2
Agrado               Recuperado     2
Agua de Dios         Casa           1
Name: COUNTER, dtype: int64

In [33]:
COVID19.groupby('Ciudad de ubicación')[['atención']].count()

                     atención
Ciudad de ubicación
Acacías                    23
Acevedo                     2
Agrado                      2
Agua de Dios                4
Aguachica                  20
...                       ...
Zambrano                    1
Zarzal                      2
Zipaquirá                  97
Zona Bananera              36
Ábrego                      1

[576 rows x 1 columns]

In [34]:
Atencion = (COVID19.groupby(['Ciudad de ubicación', 'atención']).size() 
   .sort_values(ascending=False) 
   .reset_index(name='count') 
   .drop_duplicates(subset='atención'))
print(Atencion)

    Ciudad de ubicación      atención  count
0           Bogotá D.C.          Casa  10287
1           Bogotá D.C.    Recuperado  10044
11          Bogotá D.C.      Hospital   1394
19          Bogotá D.C.     Fallecido    512
53          Bogotá D.C.  Hospital UCI    144
718       Roberto Payán          CASA      2

In [ ]:
Filtrar

In [35]:
COVID19.query('COUNTER == 1 & atención =="Casa"')

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,Latitud,Longitud,COUNTER
5078,14762,2020-05-12T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,11,F,Relacionado,Asintomático,...,NaN,2020-05-16,NaN,11,NaN,Otro,NaN,4.6,-74.083333,1
5080,14764,2020-05-13T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,30,M,Relacionado,Asintomático,...,NaN,2020-05-16,NaN,11,NaN,Otro,NaN,4.6,-74.083333,1
5238,14922,2020-05-12T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,11,M,Relacionado,Asintomático,...,NaN,2020-05-16,NaN,11,NaN,Otro,NaN,4.6,-74.083333,1
5240,14924,2020-05-12T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,30,F,Relacionado,Asintomático,...,NaN,2020-05-16,NaN,11,NaN,Otro,NaN,4.6,-74.083333,1
5266,14950,2020-05-13T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Casa,15,F,Relacionado,Asintomático,...,NaN,2020-05-16,NaN,11,NaN,Otro,NaN,4.6,-74.083333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73426,72184,2020-06-20T00:00:00.000,5044,Anzá,Antioquia,Casa,19,F,En estudio,Leve,...,NaN,2020-06-23,NaN,5,NaN,NaN,NaN,6.3333333,-75.916667,1
73427,72492,2020-06-20T00:00:00.000,5044,Anzá,Antioquia,Casa,60,M,En estudio,Leve,...,NaN,2020-06-23,NaN,5,NaN,NaN,NaN,6.3333333,-75.916667,1
73428,72495,2020-06-20T00:00:00.000,5044,Anzá,Antioquia,Casa,61,F,En estudio,Leve,...,NaN,2020-06-23,NaN,5,NaN,NaN,NaN,6.3333333,-75.916667,1
73429,72587,2020-06-20T00:00:00.000,5044,Anzá,Antioquia,Casa,27,M,En estudio,Leve,...,NaN,2020-06-23,NaN,5,NaN,NaN,NaN,6.3333333,-75.916667,1
73432,72487,2020-06-19T00:00:00.000,73408,Lérida,Tolima,Casa,69,M,En estudio,Leve,...,NaN,2020-06-23,NaN,73,NaN,NaN,NaN,4.9166667,-74.916667,1

In [ ]:
Pivot

In [36]:

Atencion.pivot(index='Ciudad de ubicación', columns='atención', values='count')

atención,CASA,Casa,Fallecido,Hospital,Hospital UCI,Recuperado
Ciudad de ubicación,,,,,,
Bogotá D.C.,NaN,10287.0,512.0,1394.0,144.0,10044.0
Roberto Payán,2.0,NaN,NaN,NaN,NaN,NaN

In [37]:
Atencion.head()

   Ciudad de ubicación      atención  count
0          Bogotá D.C.          Casa  10287
1          Bogotá D.C.    Recuperado  10044
11         Bogotá D.C.      Hospital   1394
19         Bogotá D.C.     Fallecido    512
53         Bogotá D.C.  Hospital UCI    144

In [62]:
print(Atencion)

    Ciudad de ubicación      atención  count
0           Bogotá D.C.          Casa  10287
1           Bogotá D.C.    Recuperado  10044
11          Bogotá D.C.      Hospital   1394
19          Bogotá D.C.     Fallecido    512
53          Bogotá D.C.  Hospital UCI    144
718       Roberto Payán          CASA      2

In [39]:
Atencion.shape

(6, 3)

In [41]:
pivot_Atencion = COVID19.groupby(['Ciudad de ubicación','atención'])['COUNTER'].sum() #sum function

In [42]:
pivot_Atencion.shape

(1338,)

In [43]:
pivot_Atencion.head()

Ciudad de ubicación  atención
Acacías              Casa           9
                     Recuperado    14
Acevedo              Recuperado     2
Agrado               Recuperado     2
Agua de Dios         Casa           1
Name: COUNTER, dtype: int64

In [44]:
Aten = (COVID19.groupby(['Ciudad de ubicación', 'atención']).size() 
   .sort_values(ascending=False) 
   .reset_index(name='count'))
print(Aten)

      Ciudad de ubicación      atención  count
0             Bogotá D.C.          Casa  10287
1             Bogotá D.C.    Recuperado  10044
2            Barranquilla          Casa   5629
3     Cartagena de Indias          Casa   2969
4     Cartagena de Indias    Recuperado   2954
...                   ...           ...    ...
1333               Salgar      Hospital      1
1334               Galapa  Hospital UCI      1
1335               Salgar    Recuperado      1
1336               Samacá     Fallecido      1
1337               Ábrego     Fallecido      1

[1338 rows x 3 columns]

In [45]:
Aten.pivot_table(index='Ciudad de ubicación', columns='atención', values='count', fill_value=0)

atención             CASA  Casa  Fallecido  Hospital  Hospital UCI  Recuperado
Ciudad de ubicación
Acacías                 0     9          0         0             0          14
Acevedo                 0     0          0         0             0           2
Agrado                  0     0          0         0             0           2
Agua de Dios            0     1          0         0             0           3
Aguachica               0    17          1         1             0           1
...                   ...   ...        ...       ...           ...         ...
Zambrano                0     1          0         0             0           0
Zarzal                  0     1          0         1             0           0
Zipaquirá               0    46          4        10             0          37
Zona Bananera           0     6          8         6             0          16
Ábrego                  0     0          1         0             0           0

[573 rows x 6 columns]

“@” sign.

In [85]:
COVID19.head()

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,Latitud,Longitud,COUNTER
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,2020-03-13T00:00:00.000,2020-03-06,PCR,11,380.0,Otro,NaN,4.6,-74.083333,1
1,8,2020-03-09T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,22,F,Importado,Leve,...,2020-03-21T00:00:00.000,2020-03-11,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
2,9,2020-03-08T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,28,F,Importado,Leve,...,2020-03-23T00:00:00.000,2020-03-11,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
3,10,2020-03-12T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,36,F,Importado,Leve,...,2020-03-21T00:00:00.000,2020-03-12,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
4,11,2020-03-11T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,42,F,Importado,Leve,...,2020-03-31T00:00:00.000,2020-03-12,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1

In [86]:
casos = [1]

In [87]:
casos

[1]

In [89]:
#incluir el nombre del objeto precedido por un signo "@"
COVID19.query("COUNTER in @casos")

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico,Latitud,Longitud,COUNTER
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,2020-03-13T00:00:00.000,2020-03-06,PCR,11,380.0,Otro,NaN,4.6,-74.083333,1
1,8,2020-03-09T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,22,F,Importado,Leve,...,2020-03-21T00:00:00.000,2020-03-11,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
2,9,2020-03-08T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,28,F,Importado,Leve,...,2020-03-23T00:00:00.000,2020-03-11,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
3,10,2020-03-12T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,36,F,Importado,Leve,...,2020-03-21T00:00:00.000,2020-03-12,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
4,11,2020-03-11T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,42,F,Importado,Leve,...,2020-03-31T00:00:00.000,2020-03-12,PCR,11,724.0,Otro,NaN,4.6,-74.083333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73428,72495,2020-06-20T00:00:00.000,5044,Anzá,Antioquia,Casa,61,F,En estudio,Leve,...,NaN,2020-06-23,NaN,5,NaN,NaN,NaN,6.3333333,-75.916667,1
73429,72587,2020-06-20T00:00:00.000,5044,Anzá,Antioquia,Casa,27,M,En estudio,Leve,...,NaN,2020-06-23,NaN,5,NaN,NaN,NaN,6.3333333,-75.916667,1
73430,72340,2020-06-19T00:00:00.000,25486,Nemocón,Cundinamarca,Hospital,56,F,En estudio,Moderado,...,NaN,2020-06-23,NaN,25,NaN,NaN,NaN,5.1333333,-73.900000,1
73431,72345,2020-06-20T00:00:00.000,25839,Ubalá,Cundinamarca,Hospital,78,F,En estudio,Moderado,...,NaN,2020-06-23,NaN,25,NaN,NaN,NaN,4.8333333,-73.500000,1
73432,72487,2020-06-19T00:00:00.000,73408,Lérida,Tolima,Casa,69,M,En estudio,Leve,...,NaN,2020-06-23,NaN,73,NaN,NaN,NaN,4.9166667,-74.916667,1

df.memory_usage
Bebe estar atento al tamaño de los objetos que está creando en su programa

In [90]:
Atencion.memory_usage()

Index                  48
Ciudad de ubicación    48
atención               48
count                  48
dtype: int64

In [91]:
COVID19.memory_usage()

Index                       587464
ID de caso                  587464
Fecha de notificación       587464
Código DIVIPOLA             587464
Ciudad de ubicación         587464
Departamento o Distrito     587464
atención                    587464
Edad                        587464
Sexo                        587464
Tipo                        587464
Estado                      587464
País de procedencia         587464
FIS                         587464
Fecha de muerte             587464
Fecha diagnostico           587464
Fecha recuperado            587464
fecha reporte web           587464
Tipo recuperación           587464
Codigo departamento         587464
Codigo pais                 587464
Pertenencia etnica          587464
Nombre grupo etnico         587464
Latitud                     587464
Longitud                    587464
COUNTER                     587464
dtype: int64

pd.read_sql / df.to_sql 
La función "read_sql" devuelve un objeto DataFrame

Es un paquete integral que permite una fácil conexión a la mayoría de las bases de datos SQL
https://www.sqlalchemy.org/

https://docs.sqlalchemy.org/en/13/core/engines.html

In [1]:
#dialect+driver://username:password@host:port/database
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql+psycopg2://username:password@localhost:5432/database')

In [ ]:
connection = engine.connect()

In [ ]:
pd.read_sql(''' SELECT * FROM tabla ''', connection    )